body {
  margin: 0;
  font-family: sans-serif;
  background: white;
  color: #4A4A4A;
}

.content {
  padding-top: 100px;
  padding-left: 40px;
  padding-right: 40px;
}

.page h1 {
  font-weight: 300;
  margin-bottom: 20px;
}

.page p, .page li {
  color: #6E6E6E;
  line-height: 1.6;
}
